* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary: #dca765;
  --span-color: #c5812d;
}

.topico {
  margin-left: 10%;
}

h2 span {
  border-bottom: 3px solid var(--span-color);
}


/* Header */
header {
  background-color: var(--primary);
  width: 100%;
}

li {
  list-style: none;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#menu ul {
  display: flex;
  gap: 70px;
  justify-content: end;
  margin-right: 10%;
}

#menu img {
  margin-left: 10%;

}

/* inicio */
#inicio {
  margin: 8% 0 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#inicio h1 {
  font-size: 40px;
  font-weight: bold;
}

#inicio h1 span {
  color: var(--span-color);
}

.textos-inicio p {
  margin-top: 10px;
  font-size: 18px;
}

.fundo-copo {
  background-color: var(--primary);
  border-radius: 50%;
  margin-right: 20%;
}

.fundo-copo img {
  padding: 20px;
  max-width: 250px;
}

/* about */
#about {
  margin-top: 10em;
}

#about .sobre {
  display: flex;
  margin-top: 4em;
}

.textos-about .p1 {
  font-size: 26px;
  font-weight: 500;
  width: 60%;
  color: #2F2105;
}

.textos-about .p2 {
  width: 50%;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 1em;
  font-weight: lighter;
}

.sobre img {
  margin-right: 25%;
  position: relative;
  bottom: 2em;
}

/* cardapio */
#cardapio {
  margin-top: 5em;
}

.cards {
  margin-top: 3em;
}

.row {
  display: flex;
  margin: auto;
  gap: 50px;
  width: 90%;
  justify-content: center;
  margin-right: 10%;
}


.card {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.card-dentro {
  background-color: white;
  width: 90%;
  height: 90%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-dentro img {
  margin: 35px 40px 0 40px;
  border-radius: 12px;
  height: 155px;
}

.card-dentro p {
  display: flex;
  padding: 15px 25px 60px 25px;
  font-weight: 600;
}

.card-dentro p span {
  padding-left: 20px;
}

/* Avaliações */
#avaliacoes {
  margin-top: 7em;
}

.carousel {
  overflow: hidden;
  position: relative;
  top: 5em;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* margin-right: 10%; */
  width: 100%;

}

.carousel img {
  margin: 10px;

}

.arrow-left,
.arrow-right {
  width: 25px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 12px;
  border-radius: 100%;
  
}

.arrow-right {
  right: 0;
  transform: scaleX(-1) translateY(-50%);
}

.arrow-left {
  left: 0;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
  gap: 20px;
  width: 80%;
  position: relative;
  margin-right: 10%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}


.card-carrousel {
  min-width: 33.33%;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  flex-shrink: 0;
  object-fit: cover;


}

.infors {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.infors p {
  padding: 8px;
  position: relative;
  right: 1px;
}

.infors img {
  padding: 5px;
  position: relative;
}

.infors .name {
  font-weight: bold;
  font-size: 16px;
  margin: 5px 0;
  color: #333;
}

.review{
  width: 250px;
  font-size: 14px;
  margin: 3px;
}

.person {
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

.person img {
  width: 70px;
}

.stars {
  color: #ffd700;
  margin: 5px 0;
}